*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 1200px;
    height:1000px;
    background-color:#edf3f9;
    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height:15%;
    background:yellow;
    border-radius: 1em;
    margin: 1em;
}

#nav{
    height:10%;
    background:greenyellow;
    border-radius: 1em;
    margin: 1em;
}
#contenido{
    height:53%;
    /* background:navajowhite; */
}
#footer{
    height:15%;
    background:pink;
    border-radius: 1em;
    margin: 1em;
}
#secction{
    height:95%;
    width:67%;
    background: blue;
    border-radius: 1em;
    margin: 0.5em;
    float:left;
}
#aside{
    height:95%;
    width: 28%;
    background:palegoldenrod;
    border-radius: 1em;
    margin: 0.5em;
    float:right;
}
.articulo{
    height:20%;
    width: 90%;
    background:red;
    margin:1em;
    border-radius: 1em;
}